<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <%- include("./header") %>

  <body>
    <% names.forEach(person =>{ %>
    <li>
      <% const name = `${person.name.title} ${person.name.first}
      ${person.name.last} `%> <%= name %> <% const photo =
      `${person.picture.medium}` %>
      <img src="<%= photo%>" />
    </li>
    <% }) %>
  </body>
  <footer>
    <%- include("./footer") %>
  </footer>
</html>
